{{!-- <div class="footer-top-area", style="background-color: black;">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="footer-about-us">
                    <h3 style="color: white;">About Us</h3>
                    <p style="color: white; text-align: Justify">
                                Technology and Book is a 24/7 online shopping 
                            website and nationwide delivery system.
                    </p>
                </div>
            </div>
                
            <div class="col-md-3 col-sm-6">
                <div class="footer-menu">
                    <h2 class="footer-wid-title" style="color: white;">User</h2>
                    <ul>
                        <li><a href="#">Account</a></li>
                    </ul>                        
                </div>
            </div>
                
            <div class="col-md-3 col-sm-6">
                <div class="footer-menu">
                    <h2 class="footer-wid-title" style="color: white;">Categories</h2>
                    <ul>
                        <li><a href="#">Technology</a></li>
                        <li><a href="#">Book</a></li>
                        <li><a href="#">Other</a></li>
                    </ul>                        
                </div>
            </div>
                
            <div class="col-md-3 col-sm-6">
                <div class="footer-newsletter">
                    <h2 class="footer-wid-title" style="color: white;">News</h2>
                    <p style="color: white;">Sign up for our newsletter and get our exclusive deals.</p>
                    <div class="newsletter-form">
                        <form action="#">
                            <input type="email" placeholder="Enter Email Address">
                            <input type="submit" value="Submit">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> 
    <!-- End footer top area -->
<div class="footer-bottom-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="copyright" style="text-align: center; color: white">
                    <p>&copy; 2020 Copyright</p>
                </div>
            </div>
        </div>
    </div>
</div> --}}