<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <div class="navbar-collapse" id="navbarNav"> 
        <ul class="navbar-nav">
            <li>
                <a class="navbar-brand" href="/"><h2 class="fa fa-home" style="font-size:20px"> Home</h2></a>
            </li>
            <li>
                <a style="font-size: medium;" class="nav-link" href="">Introduction</a>
            </li>   
            <li class="nav-item">
                <a style="font-size: medium;" class="nav-link" href="/employee/list">Employee</a>
            </li>         
            <li class="nav-item">
                <a style="font-size: medium;" class="nav-link" href="/catalog/list">Catalog</a>
            </li>
        </ul>
    </div>  
</nav>